/* -----------------------------------------------------------------------------

# 404 Page Styles

----------------------------------------------------------------------------- */

.error-text i {
  font-size: 90px;
  margin-bottom: 30px;
}

.error-text h1 {
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 10px;
}

.error-text p {
  font-size: 15px;
  margin-bottom: 30px;
}

.error-section {
  height: 10%;
  display: table;
  width: 100%;
}

/* -----------------------------------------------------------------------------
 icon Section Styles
----------------------------------------------------------------------------- */

.icon-section {
  height: 10%;
  display: table;
  width: 100%;
}

.icon-height-tablecell {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
}

/* -----------------------------------------------------------------------------
Error Counter Section
----------------------------------------------------------------------------- */

.error-counter-section {
  width: 100%;
  background: #fff;
}
.error-counter_wrapper .count_box {
  background: #fff;
  padding: 30px 15px;
  border: 5px solid #fff;
  border-radius: 10px;
  text-align: center;
}
.error-counter_wrapper .count_box h3 {
  font-size: 40px;
  font-weight: 600;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.error-counter_wrapper .count_box h4 {
  font-size: 15px;
  font-weight: 300;
  text-transform: uppercase;
  padding-top: 10px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
@media (max-width: 768px) {
  .error-counter_wrapper .col-md-4 {
    margin-bottom: 15px;
  }

  .error-counter_wrapper {
    width: 100%;
    background: #fff;
  }
  .error-counter_wrapper .count_box {
    background: #fff;
    padding: 30px 15px;
    border: 5px solid #fff;
    border-radius: 10px;
    text-align: center;
  }
}

/* -----------------------------------------------------------------------------
 message Section Styles
----------------------------------------------------------------------------- */

.message-section {
  height: 10%;
  display: table;
  width: 100%;
}

.message-height-tablecell {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
}