/* -----------------------------------------------------------------------------

# About Page Styles

----------------------------------------------------------------------------- */

/* -----------------------------------------------------------------------------
# About Section
----------------------------------------------------------------------------- */

.about-section {
  position: relative;
  margin: 50px 0;
}

.about-section:after {
  background-image: url(../img/story.jpg);
  position: absolute;
  left: 0;
  top: 0;
  width: 40%;
  height: 100%;
  content: "";
  background-size: cover;
  background-position: center;
  border-radius: 30px;
  -webkit-box-shadow: 0 0 20px #fff;
  box-shadow: 0 0 20px #fff;
}

@media only screen and (max-width: 1023.96px) {
  .about-section:after {
    background-image: url(../img/story1.jpg);
    left: 0;
    top: 0;
    width: 40%;
    height: 100%;
    content: "";
    border-radius: 30px;
    -webkit-box-shadow: 0 0 20px #fff;
    box-shadow: 0 0 20px #fff;
  }
}

.about-bg {
  height: 100%;
  width: 50%;
  left: 0;
  background-size:cover;
  background-position: left;
  z-index: 1;
  overflow: hidden;
  border-radius: 30px;
}

.about-text {
  text-align: justify;
  text-justify: inter-word;
  padding: 10px 10px 10px 10px;
}

@media only screen and (max-width: 767.96px) {
  .about-text {
    text-align: justify;
    text-justify: inter-word;
  }
}

.about-text-para {
  text-align: justify;
  text-justify: inter-word;
  padding: 50px;
  padding-left: 0px;
  padding-right: 0px;
}

.about-text p {
  font-size: 15px;
  line-height: 1.6;
  margin-bottom: 10px;
}

.about-text p.top-sub {
  opacity: 0.8;
  margin-bottom: 10px;
}

.about-text p:last-child {
  margin-bottom: 0;
}

/* -----------------------------------------------------------------------------
# Featured Section
----------------------------------------------------------------------------- */

.feature-bg {
  position: relative;
  margin: 50px 0;
}

.feature-bg:after {
  background-image: url(../img/feature-bg.jpg);
  position: absolute;
  right: 0;
  top: 0;
  width: 40%;
  height: 100%;
  content: "";
  background-size: cover;
  background-position: center;
  border-radius: 30px;
  -webkit-box-shadow: 0 0 20px #fff;
  box-shadow: 0 0 20px #fff;
}

/* -----------------------------------------------------------------------------
# instagram section
----------------------------------------------------------------------------- */

.insta-section {
  background-color: #fff;
  padding: 30px 0;
}


@media only screen and (max-width: 767.96px) {
  .insta-section {
    background-color: #fff;
    padding: 30px 0;
  }
  
}

/* -----------------------------------------------------------------------------
# Testimonial Styles
----------------------------------------------------------------------------- */
.testimonial-section {
  background-color: #f9f9f9;
  padding: 5px 0;
}

.single-testimonial-slider {
  text-align: center;
  padding: 5px 5px;
}

p.testimonial-body {
  font-size: 17px;
  font-style: italic;
  width: 700px;
  margin: 0 auto;
  line-height: 1.8;
  color: #012;
  margin-top: 20px;
}

.client-avater {
  margin-bottom: 20px;
}

.client-meta h3 {
  font-size: 20px;
  font-weight: 600;
}

.client-meta h3 span {
  display: block;
  font-size: 70%;
  margin-top: 10px;
  color: #0D8;
  font-weight: 600;
  opacity: 0.5;
}

.last-icon {
  margin-top: 20px;
  font-size: 25px;
  opacity: 0.3;
}

.client-avater img {
  max-width: 100px;
  border-radius: 50%;
  margin: 0 auto;
}


.testimonial-stars {
  margin: 10px 0 12px;
  font-size: 1.2rem;
  letter-spacing: 4px;
}

.testimonial-stars i {
  color: #FC3;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}