/* -----------------------------------------------------------------------------

# career saction

----------------------------------------------------------------------------- */

/* -----------------------------------------------------------------------------
 # Intern Section
 ----------------------------------------------------------------------------- */

.intern-bg {
  position: relative;
  margin: 50px 0;
}

.intern-bg:after {
  background-image: url(../img/intern.jpg);
  position: absolute;
  right: 0;
  top: 0;
  width: 40%;
  height: 100%;
  content: "";
  background-size: cover;
  background-position: center;
  border-radius: 30px;
  -webkit-box-shadow: 0 0 20px #fff;
  box-shadow: 0 0 20px #fff;
}

/* -----------------------------------------------------------------------------
 # Career Section
 ----------------------------------------------------------------------------- */

.career-section {
  position: relative;
  margin: 50px 0;
}

.career-section:after {
  background-image: url(../img/career.jpg);
  position: absolute;
  left: 0;
  top: 0;
  width: 40%;
  height: 100%;
  content: "";
  background-size: cover;
  background-position: center;
  border-radius: 30px;
  -webkit-box-shadow: 0 0 20px #fff;
  box-shadow: 0 0 20px #fff;
}

@media only screen and (max-width: 1023.96px) {
  .career-section:after {
    background-image: url(../img/career.jpg);
    left: 0;
    top: 0;
    width: 40%;
    height: 100%;
    content: "";
    border-radius: 30px;
    -webkit-box-shadow: 0 0 20px #fff;
    box-shadow: 0 0 20px #fff;
  }
}

.career-bg {
  height: 100%;
  width: 50%;
  left: 0;
  background-size:cover;
  background-position: left;
  z-index: 1;
  overflow: hidden;
}

.career-text {
  text-align: justify;
  text-justify: inter-word;
  padding: 10px 10px 10px 10px;
}

@media only screen and (max-width: 767.96px) {
  .career-text {
    text-align: justify;
    text-justify: inter-word;
  }
}

.career-text-para {
  text-align: justify;
  text-justify: inter-word;
  padding: 50px;
  padding-left: 0px;
  padding-right: 0px;
}

.career-text p {
  font-size: 15px;
  line-height: 1.6;
  margin-bottom: 10px;
}

.career-text p.top-sub {
  opacity: 0.8;
  margin-bottom: 10px;
}

.career-text p:last-child {
  margin-bottom: 0;
}