/* -----------------------------------------------------------------------------

# case studies section

----------------------------------------------------------------------------- */

.video-container {
  position: absolute;
  top: 0px;
  left: 0px; 
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 30px;
  position: relative;
  z-index: 1;
}
.video-container:after {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      content: "";
      background-color: #012;
      opacity: 0.3;
    }
video {
			position: absolute;
			z-index: 10;
      height: 100%;
			max-width: none;
		}

.cs-bg {
  background-image: url(../img/abt.jpg);
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 30px;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.cs-bg:after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: "";
  background-color: #012;
  opacity: 0.3;
}

.cs-section {
  background-color: #fff;
  padding: 50px 5px 50px;
}

.cs-text {
  text-align: justify;
  text-justify: inter-word;
  padding: 10px;
}

@media only screen and (max-width: 767.96px) {
  .cs-text {
    text-align: center;
    text-justify: inter-word;
  }
}

.cs-text-para{
  text-align: justify;
  text-justify: inter-word;
  padding: 50px;
  padding-left: 0px;
  padding-right: 0px;
}

.cs-text p .ul .li{
  font-size: 15px;
  line-height: 1.6;
  margin-bottom: 10px;
}

.cs-text p.top-sub {
  opacity: 0.8;
  margin-bottom: 10px;
}

.cs-text p:last-child {
  margin-bottom: 0;
}