/* -----------------------------------------------------------------------------

# News Styles

----------------------------------------------------------------------------- */

.news-box a.boxed-btn {
  margin-top: 80px;
}

.single-news-box h3 {
  font-size: 20px;
  line-height: 1.25em;
  font-weight: 600;
}

.single-news-box h3 a {
  color: #012;
}

.single-news-box {
  margin-bottom: 30px;
}

.news-box-bg {
  height: 200px;
  background-size: cover;
  background-position: center;
  border-radius: 30px;
  background-color: #fff;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.news-bg-0 {
  background-image: url(../img/news/news-bg-0.jpg);
}

.news-bg-1 {
  background-image: url(../img/news/news-bg-1.jpg);
}

.news-bg-2 {
  background-image: url(../img/news/news-bg-2.jpg);
}

.news-bg-3 {
  background-image: url(../img/news/news-bg-3.jpg);
}

.news-bg-4 {
  background-image: url(../img/news/news-bg-4.jpg);
}

.news-bg-5 {
  background-image: url(../img/news/news-bg-5.jpg);
}

.news-bg-6 {
  background-image: url(../img/news/news-bg-6.jpg);
}

.news-bg-7 {
  background-image: url(../img/news/news-bg-7.jpg);
}

.news-text-box {
  padding: 25px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.pagination-wrap {
  margin-top: 40px;
}

.pagination-wrap ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.pagination-wrap ul li {
  display: inline-block;
}

.pagination-wrap ul li a {
  color: #012;
  font-size: 15px;
  background-color: #fff;
  display: inline-block;
  padding: 8px 14px;
  border-radius: 5px;
  margin: 3px;
  font-weight: 600;
  border-radius: 50px;
}

.pagination-wrap ul li a.active {
  background-color: #0D8;
}